#thumbnail {
    width: 230px;
    height: 60px;
}

.header_thumbnail {
    display: flex;
    float: left;
    margin-left: 50px;
}

.header_titles {
    font-size:x-large;
    display: flex;
    float: right;
    margin-right: 50px;
}

#table_headers {
    padding: 12px;
}

#table_titles, th {
    height: 5px;
}

#contact_header {
    text-decoration: none;
    color: black;
}

#contact_header:hover {
    color: navy;
    text-decoration: underline;
}

.page_content {
    margin-top: 100px;
    margin-left: 40px;
    margin-right: 40px;
}

#first_paragraph {
    text-justify: auto;
    font-size: large;
}

#illustration_img {
    width: 400px;   
}

.footer {
    margin-top: 100px;
}

#img_span {
    display: block;
    text-align: center;
}

.text_footer {
    margin-left: 40px;
}

#site_plan {
    display: flex;
    float: left;
    font-size: large;
}

#contact_page {
    display: flex;
    float: left;
    margin-left: 20px;
    font-size: large;
    text-decoration: none;
    color: black;
}

.image_footer {
    display: flex;
    float: right;
}

#linkedin_icon {
    width: 35px;
    margin-right: 10px;
}

#github_icon {
    width: 35px;
    margin-right: 40px;
}